/* .App {
  text-align: center;
} */

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.App .btnHumanStyle {
  background-color: darkblue;
  font: inherit;
  border: 2px solid lightblue;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.App .btnHumanStyle:hover {
  background-color: skyblue;
  font: inherit;
  border: 2px solid lightblue;
  padding: 8px;
  cursor: pointer;
  color: black;
}

.App .btnFriendNameChange {
  background-color: black;
  border: 2px solid darksalmon;
  color: darksalmon;
  padding: 8px;
  margin: 18px auto;
  cursor: pointer;
  display: block;
  font: inherit;
}
.App .btnFriendNameChange:hover {
  background-color: black;
  border: 2px solid lime;
  color: lime;
  padding: 8px;
  margin: 18px auto;
  cursor: pointer;
  display: block;
  font: inherit;
}
.App .btnFriendToggle {
  font: inherit;
  background-color: darkred;
  border: 2px solid lightsalmon;
  color: white;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}

input {
  background-color: black;
  border: 1px solid cyan;
  margin: 10px;
  color: cyan;
  padding-left: 2px;
  width: 80%;
}

.MainForPerson {
  text-align: center;
  width: 30%;
  float: left;
  /* border: 1px dashed darkorange; */
  background-color: rgb(115, 255, 0, 0.1);
  height: 800px;
  /* opacity: 0.1; */
}

.MainForHuman {
  text-align: center;
  float: left;
  width: 30%;
  /* border: 1px dashed cyan; */
  background-color: rgb(0, 238, 255, 0.1);
  height: 800px;
}

.MainForFriend {
  text-align: center;
  float: left;
  width: 30%;
  /* border: 1px dashed cyan; */
  background-color: rgba(255, 251, 0, 0.1);
  height: 800px;
}

/* 
input[type="text"], textarea {

  background-color : #d1d1d1; 

} */

.App button {
  background-color: purple;
  /* background-color: ${props => props.alt ? 'darkred' : 'purple'}; */
  font: inherit;
  border: 2px solid lightgreen;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.App button:hover {
  background-color: lightgreen;
  /* background-color: ${props => props.alt ? 'salmon' : 'lightgreen'}; */
  color: black;
}

.App button.Red {
  background-color: red;
}

.App button.Red:hover {
  background-color: salmon;
}