.App {
  text-align: center;
}

button{
  background-color: black;
  border: 2px solid darksalmon;
  color: darksalmon;

}
input{
  background-color : black; 
  border: 1px solid cyan;
  margin: 10px;
  color: cyan;
  padding-left: 2px;
}


/* 
input[type="text"], textarea {

  background-color : #d1d1d1; 

} */